[Unit]
Description=Fetch IMAP mails with offlinemap

[Service]
Type=simple
Nice=5
KillSignal=SIGUSR2
Restart=no
ExecStart=/usr/bin/offlineimap -u quiet
