[Unit]
Description=Fetch IMAP mails every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
