# Source: https://bitbucket.org/KaiSforza/systemd-user-units
[Unit]
Description=Window manager target
Wants=xorg.target
Wants=xinitrc.target
Requires=dbus.socket
AllowIsolate=true

[Install]
Alias=default.target
