[Unit]
Description=xbindkeys
After=xorg.target

[Service]
ExecStart=/usr/bin/xbindkeys -f ${XDG_CONFIG_HOME:-$HOME/.config}/xbindkeys/config
Type=forking

[Install]
WantedBy=xinitrc.target
