# Prefer to use https URLs instead of ssh, so that the computer where i clone my dotfiles does not need to have SSH keys set up to my Github account.
[submodule ".local/repos/sandboxd"]
	path = .local/repos/sandboxd
	url = https://github.com/benvan/sandboxd.git
[submodule ".local/repos/dircolors-solarized"]
	path = .local/repos/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".local/repos/tmux-colors-solarized"]
	path = .local/repos/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule ".local/repos/fzf-marks"]
	path = .local/repos/fzf-marks
	url = https://github.com/urbainvaes/fzf-marks.git
[submodule ".local/repos/dotbot"]
	path = .local/repos/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".local/repos/dotbot-plugins/brew"]
	path = .local/repos/dotbot-plugins/brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule ".local/repos/dotbot-plugins/if"]
	path = .local/repos/dotbot-plugins/if
	url = https://github.com/wonderbeyond/dotbot-if.git
[submodule ".local/repos/dotbot-plugins/asdf"]
	path = .local/repos/dotbot-plugins/asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule ".local/repos/dotbot-plugins/crontab"]
	path = .local/repos/dotbot-plugins/crontab
	url = https://github.com/fundor333/crontab-dotbot.git
[submodule ".local/repos/dotbot-plugins/firefox"]
	path = .local/repos/dotbot-plugins/firefox
	url = https://github.com/kurtmckee/dotbot-firefox.git
[submodule ".local/repos/dotbot-plugins/ghq"]
	path = .local/repos/dotbot-plugins/ghq
	url = https://github.com/klane/dotbot-ghq.git
	ignore = dirty # Until merged my fix: https://github.com/klane/dotbot-ghq/pull/3
