!.atom/apm_packages_bakup.txt
!.atom/config.cson
!.config/.kde/Autostart/
!.config/.kde/env/
!.config/.kde/share/apps/konsole/
!.config/.kde/share/config/kglobalshortcutsrd
!.config/.kde/share/config/khotkeysrc
!.config/.kde/share/config/kxkbrc
!.config/.kde/share/config/mpdknotifierrc
!.config/.kde/share/config/yakuakerc
!.config/.kde/share/kde4/services/spotify.protocol
!.config/gtk-2.0/gtkrc-2.0.mine
*.pyc
*.sw?
*~
.DS_STORE
.atom
.bazaar/lock/
.cgdb/
.config/MusicBrainz/
.config/broot/
.config/cheat/
.config/configstore/
.config/git/config-local
.config/grip/cache-*
.config/gtk-2.0/
.config/htop/
.config/irb/irb_history
.config/iterm2/
.config/kde/
.config/pudb/
.config/wireshark/
.gradle/
.ipython/
.irssi/away.log
.irssi/dcc/
.irssi/nicklistfifo
.mplayer/
.netrc
.vdirsyncer/
.vim/.netrwhist
.vim/after/ftplugin/markdown/instant-markdown.vim
.vim/bundle/
.vim/eclim/
.vim/fuf-data/
.vim/spell/*.spl
.vim/undo/
.vim/view/
.vim/viminfo
.vim/viminfo.tmp
.vim/yankring_v2.txt
