!.config/.kde/Autostart/
!.config/.kde/env/
!.config/.kde/share/apps/konsole/
!.config/.kde/share/config/kglobalshortcutsrd
!.config/.kde/share/config/khotkeysrc
!.config/.kde/share/config/kxkbrc
!.config/.kde/share/config/mpdknotifierrc
!.config/.kde/share/config/yakuakerc
!.config/.kde/share/kde4/services/spotify.protocol
!.config/gtk-2.0/gtkrc-2.0.mine
!.config/ipython/profile_default/ipython_config.py
*.pyc
*.sw?
*~
.DS_STORE
.config/MusicBrainz/
.config/android/
.config/aws/
.config/broot/launcher/
.config/bundle/Gemfile.lock
.config/cd-bookmark/bookmarks
.config/cheat/
.config/configstore/
.config/fzf-marks/marks
.config/fzf/
.config/gcloud/
.config/gh/hosts.yml
.config/git/config-local
.config/github-copilot/
.config/grip/cache-*
.config/gtk-2.0/
.config/htop/
.config/ipython/
.config/irb/irb_history
.config/irssi/away.log
.config/irssi/dcc/
.config/irssi/nicklistfifo
.config/iterm2/
.config/kde/
.config/nvim/plugin/packer_compiled.lua
.config/pudb/internal-cmdline-history.txt
.config/pudb/saved-breakpoints-*
.config/subversion/
.config/taiga-stats/
.config/tmux/plugins/
.config/tmux/sidebar/directory_widths.txt
.config/travis/
.config/vim/.netrwhist
.config/vim/after/ftplugin/markdown/instant-markdown.vim
.config/vim/autoload/plug.vim
.config/vim/fuf-data/
.config/vim/yankring_v2.txt
.config/wireshark/
.config/yarn/config
.config/zsh/.zsh_funcs/_netlify
.config/zsh/.zsh_funcs/_poetry
