!.atom/apm_packages_bakup.txt
!.atom/config.cson
!.config/dunst/
!.config/khal/config
!.config/nvim/
!.config/parcellite/parcelliterc
!.config/powerline/
!.config/systemd/
!.config/udiskie/
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.etwolf/etmain/profiles/ErikwSwe/etconfig.cfg
!.etwolf/etmain/profiles/ErikwSwe/profile.dat
!.fontconfig/
!.kde4/Autostart/
!.kde4/env/
!.kde4/share/apps/konsole/
!.kde4/share/config/kglobalshortcutsrd
!.kde4/share/config/khotkeysrc
!.kde4/share/config/kxkbrc
!.kde4/share/config/mpdknotifierrc
!.kde4/share/config/yakuakerc
!.kde4/share/kde4/services/spotify.protocol
!.mplayer/config
!.mplayer/input.conf
!.mutt/aliases
!.mutt/colors/
!.vdirsyncer/config
!.vim/bundle/vundle/
*.pyc
*.sw?
*~
.atom
.bazaar/lock/
.cgdb/
.config
.etwolf/*
.gconf/apps/%gconf.xml
.gconf/apps/gitg/
.gconf/apps/gnucash/general/warnings/%gconf.xml
.gconf/apps/pdfmod/
.gconf/desktop/
.gradle/
.ipython/
.irssi/away.log
.irssi/dcc/
.irssi/nicklistfifo
.kde4/
.mplayer/
.mutt/
.ncmpcpp/artists/
.ncmpcpp/error.log
.netrc
.newsbeuter/
.pentadactyl/info/
.vdirsyncer/
.vim/.netrwhist
.vim/after/ftplugin/markdown/instant-markdown.vim
.vim/bundle/
.vim/eclim/
.vim/fuf-data/*
.vim/spell/*.spl
.vim/undo/
.vim/view/*
.vim/viminfo
.vim/viminfo.tmp
.vim/yankring_v2.txt
.vimperator/info/
