# My own global snippets

snippet erikw
	Erik Westrup

snippet gmail
	erik.westrup@gmail.com

snippet ew 
	Erik Westrup <erik.westrup@gmail.com>

snippet homeaddr
	Zechliner Str. 5a, 13359 Berlin, Germany

snippet mobile
	+46 738286060
