# #include <...>
snippet inc
	#include <${1:iostream}>${2}
snippet cerr
	cerr << ${1} << endl;
snippet scerr
	std::cerr << ${1} << std::endl;
snippet clog
	clog << ${1} << endl;
snippet sclog
	std::clog << ${1} << std::endl;
snippet /*
	/*
	 * ${1}
	 */
snippet /**
	/**
	 * ${1}
	 */
