# __main__
snippet main
	#!/usr/bin/env python3

	import sys

	def main():
		${0:code}
		return 0

	if __name__ == '__main__':
		sys.exit(main())



snippet init
	def __init__(self, *args, **kwargs):
		${1:super().__init__(*args, **kwargs)}
