#debugging with lines not broken by rubocop.
snippet debug
	require 'byebug'; byebug # rubocop:disable Style/Semicolon
snippet d
	require 'byebug'; byebug # rubocop:disable Style/Semicolon
snippet dbg
	require 'debug'; debugger # rubocop:disable Style/Semicolon
