<?xml version="1.0" encoding="UTF-8"?>
<!-- Start dark-notify for tmux on login. -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.user.tmux-dark-notify</string>
        <key>ProgramArguments</key>
        <array>
            <string>/opt/homebrew/bin/dark-notify</string>
            <string>-c</string>
            <string>/Users/erikw/bin/tmux_theme_mode.sh</string>
        </array>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        </dict>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <!-- Output logging for debugging. -->
	<!--<key>StandardOutPath</key>-->
        <!--<string>/Users/erikw/.local/state/tmux/launchd_stdout.txt</string>-->
        <!--<key>StandardErrorPath</key>-->
	<!--<string>/Users/erikw/.local/state/tmux/launchd_stderr.txt</string>-->
    </dict>
</plist>
