# Erik Westrup's rTorrent configuration.

# Modeline {
#	 vi: foldmarker={,} foldmethod=marker foldlevel=0 tabstop=8
# }

# Connection {
	port_range = 6970-6999
	# Set a port range.

	# Set random ports on startup.
	port_random = yes

	# Default download speed (0=no limit).
	download_rate = 0

	# Default upload speed (0=no limit).
	upload_rate = 300

	# Max upload slots per torrent.
	#max_uploads = 20

	# Enable encrypted connections.
	encryption = allow_incoming

	# Use UDP-trakers.
	use_udp_trackers = yes

	# Enable DHT support for trackerless torrents or when all trackers are down. May be set to "disable" (completely disable DHT), "off" (do not start DHT),
	# "auto" (start and stop DHT as needed), or "on" (start DHT immediately). The default is "off".
	dht = auto

	# UDP port to use for DHT.
	dht_port = 42011

	peer_exchange = yes

	# Use proxy for lookup. http://www.samair.ru/proxy/proxy-01.htm
	#http_proxy = 80.253.10.250:3129
# }

# Downloads {
	# Default download directory.
	directory = ~/dl/torrent/leeching/

	# Save settings and more with sessions.
	session = ~/dl/torrent/.sessions/

	# Check hash on finished downloads.
	check_hash = yes
# }

# Schedules {
	# Watch for .torrents, start in a directory & set a new for later mv of the files.
	schedule = watch_directory_seeding,5,30,"load_start=~/dl/torrent/watch/*.torrent,d.set_custom1=~/dl/torrent/seeding/"
	schedule = watch_directory_ebooks,5,30,"load_start=~/dl/torrent/watch/ebooks/*.torrent,d.set_directory=~/dl/torrent/leeching/ebooks/,d.set_custom1=~/dl/torrent/seeding/ebooks/"
	schedule = watch_directory_games,5,30,"load_start=~/dl/torrent/watch/games/*.torrent,d.set_directory=~/dl/torrent/leeching/games/,d.set_custom1=~/dl/torrent/seeding/games/"
	schedule = watch_directory_misc,5,30,"load_start=~/dl/torrent/watch/misc/*.torrent,d.set_directory=~/dl/torrent/leeching/misc/,d.set_custom1=~/dl/torrent/seeding/misc/"
	schedule = watch_directory_movies,5,30,"load_start=~/dl/torrent/watch/movies/*.torrent,d.set_directory=~/dl/torrent/leeching/movies/,d.set_custom1=~/dl/torrent/seeding/movies/"
	schedule = watch_directory_music,5,30,"load_start=~/dl/torrent/watch/music/*.torrent,d.set_directory=~/dl/torrent/leeching/music/,d.set_custom1=~/dl/torrent/seeding/music/"
	schedule = watch_directory_software,5,30,"load_start=~/dl/torrent/watch/software/*.torrent,d.set_directory=~/dl/torrent/leeching/software/,d.set_custom1=~/dl/torrent/seeding/software/"
	schedule = watch_directory_tv,5,30,"load_start=~/dl/torrent/watch/tv/*.torrent,d.set_directory=~/dl/torrent/leeching/tv/,d.set_custom1=~/dl/torrent/seeding/tv/"

	# Execute the mv command when download is finished.
	#on_finished = move_unrar_complete,"execute=~/bin/rtorrent_move_unrar.sh,$d.get_base_path=,$d.get_custom1= ;d.set_directory=$d.get_custom1="
	system.method.set_key =event.download.finished,move_complete,"d.set_directory=$d.get_custom1= ;execute=mv,-u,$d.get_base_path=,$d.get_custom1="

	# Restart torrents that have been copied back.
	schedule = tied_directory,5,30,start_tied=

	# Stop deleted torrents.
	schedule = untied_directory,5,30,close_untied=

	# Stop seeding when ratio 1.5 (150% uploaded).
	#schedule = ratio,5,30,"stop_on_ratio=150,0,0"

	# Close torrents when disk space gets under 2GB.
	schedule = low_diskspace,5,30,close_low_diskspace=2G
# }
